<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./carousel.css">
</head>
<body>
    <main>
      <div class="container">
        <div class="carousel">
          <ul class="carousel__slides">
            <li class="carousel__slide landing">
              <div class="profile-container">
                <div class="profile-banner">
                    <p class="profile-name">Larry Miguel R. Cueva</p>
                    <p class="profile-msg">Pleased to meet you, my name is Michael, I am a writer, a psychology professor at the University of the Philippines Diliman, I am also a computational neuroscientist and data engineer specializing in brain cognition and behavioral psychology</p>
                </div>
              </div>
            </li>
            <li class="carousel__slide about">
              <div class="about-container">
                <div>
                    About
                </div>
        
                <h4>Other work </h4>
                <p>I do clinical work specializing in behavioral psychology</p>
        
                <p>I teach philosophy and psychology</p>
        
                <h4>Aspirations</h4>
                <p>I aspire to run a group home of orphaned children</p>
        
                <p>I aspire to teach philosophy and psychology at the University of the Philippines</p>
        
                <p>"Sometimes the people that want to help the most, the people that 
                    want to make you happy the most are the people that are the saddest 
                    and most broken. They do such actions because they never want to 
                    let others feel even a sliver of the sadness or brokenness they feel.
                    If I am to put up an orphanage so be it. If I am to build a foster 
                    home so be it. If I am to bring broken people together to build a 
                    family so be it. If I am to feed the hungry in the darkest corners 
                    of the street where they beg for food everyday so be it. If I am to
                    give at least some semblance of love for random strangers who suffer 
                    from mental or physical ailments so be it. If I am to put clothes 
                    on the naked on the very street they sleep in on cold nights so be it. 
                    If I am to listen to those who feel unloved, neglected, and abandoned 
                    and let them know that they can always count on you to feel some 
                    semblance of a family then so be it. If I am to build a home for the 
                    ones who are homeless as well as the ones who have a house yes but 
                    lack a safe haven, a home to go home to, then so be it."</p>
        
                <p>"part of me wants to die but I'll not be leaving this reality that God has
                    created until I have to my very last breath fought along with the people 
                    akin to myself to have the asnwers to our problem for all the people 
                    suffering with this mental condition"</p>
        
                <p>I aspire to help in the prevention, cure of varicocele and the promotion of 
                    vein health, other testicular ailments, and the right to good health. Not
                    some fucking people who don't care about your right to good health and 
                    even tell you to endure it. Even when it means you won't be able to live
                    your dreams. Because everyone deserves a shot at life, just like any person
                    born without any defects would, not of total absence of suffering certainly
                    not but at least haivng some semblance of being able to live your ambitions, 
                    your aspirations ~ your dreams.</p>
        
                <p>I aspire to raise research centers with the proper people on helping prevent and cure the following: </p>
                <ol>
                    <li>varicocele</li>
                    <li>testicular cancer</li>
                    <li>autogynephilia</li>
                    <li></li>
                </ol>
        
                <p>I aspire to raise research centers that focus on the following: </p>
                <ol>
                    <li>bio-mechanics that make machine augmentations for testicular related physical ailments/illnesses</li>
                    <li>bio-mechanics that make machine augmentations for paralyzed/disabled individuals </li>
                </ol>
        
                <p>March 15 2023 entry:</p>
                <p>With all the pain your feeling right now, and thinking that you can never do the
                    things you've dreamed to do because of this illness, use it. use it to fuel 
                    the little embers that represent your will to maybe not fulfill those dreams 
                    you had but instead to put up a fight still and do everything you can change 
                    what is into what could be. To do the seemingly impossible, to cure varicocele, 
                    to cure cancer, to cure physical and facial deformities, to cure neurological
                    diseases, to birth novel ways of being able to live life fully again physically
                    and mentally for disabled people. You will lead this charge against these 
                    demons and Dragons you are in the midst of. you will do what is seemingly 
                    impossible into something that is indeed possible </p>
                <p>you are akin to Alexander the Great about to conquer Macedonia</p>
                <p>are akin to Roger Bannister about to break the 4 min mile run</p> 
                <p>you are akin to Winston Churchill in 1941 about to turn the tide of WW2 in favor of the side of the just in order to vanquish tyranny and evil</p>
                <p>you are akin to Neil Armstrong about to set foot on the moon, about to bring human race's first step on the moon</p>
                <p>you are akin to King Henry V charging into battle against the seemingly unbeatable French hordes</p>
                <p>you are akin to King David about to defeat the seemingly undefeatable Goliath</p>
                <p>and you are Michael about to conquer, vanquish every tragedy every illness that has ever befallen mankind</p>
                <p>You will lead the charge against these Demons against these Dragons you are in the midst of, and what every other people are in the midst of.</p>
                
                <blockquote>Do what you can no matter how incapacitated you may seem, do what you can
                    to at least do something physical, do what you can to be stronger 
                    physically, and moreover mentally. For it is a symbol, a representation 
                    of your character that of being or rather having always the willingness 
                    to endure and never give up all together.</blockquote>
              </div>
            </li>
            <li class="carousel__slide projects">
              <div class="projects-container">

              </div>
            </li>
            <li class="carousel__slide contact">
              <div class="contact-container">
                
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
</body>
</html>