<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="horizontal-layout.css">
</head>
<body>
    <div class="main-container">
        <nav class="main-nav">
            <ul class="ul__first">
                <li id="logo">
                    <a href="#">b</a href="#">
                </li>
            </ul>
            <ul class="ul__second">
                <li id="border"><a href="#">Homepage</a></li>
                <li><a href="#">Winter</a></li>
                <li><a href="#">Spring</a></li>
                <li><a href="#">Autumn</a></li>
            </ul>
        </nav>

        <div class="container">
            <section id="summer" class="summer">
                <div class="image">
                    <img src="../images/lady justice.png" alt="">
                </div>

                <div class="content">
                    <h3>Story Line</h3>
                    <h1>Summer</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quo voluptatem. Rem asperiores distinctio expedita perferendis sint nulla quidem esse voluptatum impedit hic corporis ea ducimus, iste adipisci exercitationem veritatis.</p>

                    <a href="#" class="btn">Let's connect</a>
                </div>


            </section>
        </div>
    </div>
</body>
</html>