<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="horizontal-layout.css">
</head>
<body>
    <div class="main-container">
        <nav class="main-nav">
            <ul class="ul__first">
                <li id="logo">
                    <a href="#summer">O</a>
                </li>
            </ul>
            <ul class="ul__second">
                <!-- <li class="homepage" id="border"><a href="#summer">Homepage</a></li> -->
                <li class="about-me"><a href="#about-me">About me</a></li>
                <li class="projects"><a href="#projects">Projects</a></li>
            </ul>
            <ul class="ul__third">
                <li class="contact"><a href="#contact">Contact me</a></li>
            </ul>
        </nav>

        <div class="container">
            <section id="summer" class="summer">
                <!-- <div class="image">
                    <img src="../images/lady justice.png" alt="">
                </div> -->

                <div class="content">
                    <h1>Summer</h1>
                    <h3>Hello my name is Larry</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quo voluptatem. Rem asperiores distinctio expedita perferendis sint nulla quidem esse voluptatum impedit hic corporis ea ducimus, iste adipisci exercitationem veritatis.</p>
                </div>
            </section>

            <section id="about-me" class="summer">
                <!-- <div class="image second-image">
                    <img src="../images/lady justice.png" alt="">
                </div> -->

                <div class="content">
                    <h1>About me</h1>
                    <h3>Story Line</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quo voluptatem. Rem asperiores distinctio expedita perferendis sint nulla quidem esse voluptatum impedit hic corporis ea ducimus, iste adipisci exercitationem veritatis.</p>
                </div>

            </section>

            <section id="projects" class="summer">
                <!-- <div class="image third-image">
                    <img src="../images/lady justice.png" alt="">
                </div> -->

                <div class="content">
                    <h1>Projects</h1>
                    <h3>Story Line</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quo voluptatem. Rem asperiores distinctio expedita perferendis sint nulla quidem esse voluptatum impedit hic corporis ea ducimus, iste adipisci exercitationem veritatis.</p>
                </div>

            </section>

            <section id="contact" class="summer">
                <!-- <div class="image fourth-image">
                    <img src="../images/lady justice.png" alt="">
                </div> -->

                <div class="content">
                    <h1>Contact</h1>
                    <h3>Contact me</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quo voluptatem. Rem asperiores distinctio expedita perferendis sint nulla quidem esse voluptatum impedit hic corporis ea ducimus, iste adipisci exercitationem veritatis.</p>

                    <a href="#" class="btn">Let's connect</a>
                </div>

            </section>
        </div>
    </div>
</body>
</html>