@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant&family=Montserrat&display=swap");

:root {
    --primary-font: "Cinzel", serif;
    --secondary-font: "Cormorant", serif;
    --tertiary-font: "Montserrat", sans-serif;
    --primary-image: url("../images/masteroogway.jpg");
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    // background-image: var(--primary-image);
    background-color: blueviolet;
    font-family: var(--primary-font); 

    border: 6px solid white;
    margin: 0;
    height: 100%;
    width: 100%;
}

main{
    &.main-container{
        // background-color: rgb(127, 163, 163);
        border: 2px solid rgb(255, 13, 255);
        display: flex;
        flex-direction: column;
        position: relative;


        // sets 100% of window's height no matter what size
        height: 100%;
    }
}



// navbar
nav{
    border: solid 2px rgb(55, 43, 226);

    > ul{
        // border: solid 2px brown;
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        position: relative;

        > li.logo-container{
            // border: solid 2px goldenrod;
            position: absolute;
            left: 0;
        }

        > li{
            // border: solid 2px greenyellow;
            padding: 10px;
            margin-left: 2px;
            margin-right: 2px;

            > a{
                > svg{
                    fill: white;
                    transition-property: fill;
                    transition-duration: 0.5s;
                    transition-timing-function: ease;
                }
            }

            > a:hover{
                > svg{
                    fill: grey;
                }
            }
        }

        > li.contact-container{
            // border: solid 2px goldenrod;
            position: absolute;
            right: 0;

            > a{
                // border: solid 2px rgb(255, 113, 113);

                > svg{
                    fill: white;
                    transition-property: fill;
                    transition-duration: 0.5s;
                    transition-timing-function: ease;
                }
            }

            > a:hover{
                > svg{
                    fill: grey;
                }
            }
        }
    }
}

div{
    &.container{
        border: 4px solid peru;
        height: 100%;
        width: 100%;
        // margin: auto;
    }
}


