@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

*,
::before,
::after{
    box-sizing: border-box;
}

html{
    /* design */
    line-height: 1.5;
    /* border: 1px solid purple; */

    /* behavior */
    scroll-behavior: smooth;
}

body{
    /* design */
    /* inherit line height of parent which is html */
    line-height: inherit;
    /* border: 1px solid red; */

    /* spacing */
    margin: 0;   
}

.main-content{
    /* set to 100% not vw since it will not ake into account scrollbar */
    width: 100%;
}

/* landing section */
#landing-section{
    /* size for each section*/
    /* take into account navbar in landing section */
    min-height: calc(100vh - clamp(3.5rem, 6.5vw, 6.5rem));

    /* display */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position */
    position: relative;

    /* design */
    /* outline: 2px solid green; */
}

#landing-section::after{
    width: 100%;
    height: 100%;

    /* position */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* to not affect contents color place pseudo element behind content */
    z-index: -1;

    /* alignment */ 
    /*   margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */

    /* design */
    content: '';
    background-image: url('https://raw.githubusercontent.com/08Aristodemus24/project-alexander/master/client-side/src/assets/mediafiles/Default_Far_out_image_of_a_human_at_the_forefront_of_human_exp_1_cd59dbf1-a928-4dbb-ae5d-6b76b432da37_1%20upscaled.jpg');
    background-attachment: fixed;
    background-position: center;
    filter: grayscale(100%) brightness(50%);
}

.landing-content{
    /* size. takes % of landing-section as min-height */
    /* min-height: 100%; */

    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* spacing */ 
    row-gap: clamp(32px, 5vw, 80px);

    /* outline: 3px solid purple; */
}

.greetings-container{
    /* outline: 2px solid red; */
}

.greetings-container h1{
    /* spacing */
    margin-left: 10px;
    margin-right: 10px;

    /* design */
    font-family: 'Cormorant Garamond', serif;
    font-size: clamp(1.5rem, 3.75vw, 3.75rem);
    text-align: center;
    color: white;
    /* outline: 1px solid lightgreen; */

    /* animation */
    animation-name: fade-animation;
    animation-duration: 250ms;
    animation-timing-function: ease;
    animation-delay: 0s;
}

.greetings-container p{
    /* spacing */
    margin-left: 10px;
    margin-right: 10px;

    /* design */
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: clamp(14px, 2.1875vw, 22.4px);
    color: white;
    /* outline: 1px solid lightgreen; */

    /* animation */
    animation-name: fade-animation;
    animation-duration: 250ms;
    animation-timing-function: ease;
    animation-delay: 250ms;
}

.socials-container{
    /* size */
    width: fit-content;

    /* design */
    /* outline: 2px solid blue; */

    /* display */
    display: flex;

    /* alignment */
    align-items: center;
    justify-content: center;

    /* spacing */
    column-gap: min(5vw, 32px);
}

.socials-container svg{
    /* design */
    fill: white;
    cursor: pointer;
    /* outline: 1px solid lightgreen; */

    /* size */
    width: clamp(20px, 3.125vw, 30px);
    height: clamp(20px, 3.125vw, 30px);

    /* animation */
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.github-icon{
    /* animation */
    animation-name: fade-animation;
    animation-duration: 250ms;
    animation-timing-function: ease;
    animation-delay: 500ms;
}

.kaggle-icon{
    /* animation */
    animation-name: fade-animation;
    animation-duration: 250ms;
    animation-timing-function: ease;
    animation-delay: 750ms;
}

.stackoverflow-icon{
    /* animation */
    animation-name: fade-animation;
    animation-duration: 250ms;
    animation-timing-function: ease;
    animation-delay: 1000ms;
}

.facebook-icon{
    /* animation */
    animation-name: fade-animation;
    animation-duration: 250ms;
    animation-timing-function: ease;
    animation-delay: 1250ms;
}

.linkedin-icon{
    /* animation */
    animation-name: fade-animation;
    animation-duration: 250ms;
    animation-timing-function: ease;
    animation-delay: 1500ms;
}

.socials-container svg:hover{
    fill: rgb(243, 80, 15);
}

#about-section, #contact-section{
    outline: 1px solid black;
    min-height: 100vh;
}

#work-section{
    
}

/* @keyframes fade-animation{
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
} */